@keyframes appear-neutral {
  0% {
    background-color: #f2f2f2;
  }
  80% {
    background-color: #feee79;
  }
  100% {
    background-color: #f2f2f2;
  }
}
common-legend {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 200px;
  background-color: #f2f2f2;
  border: 1px solid black;
  padding: 10px;
  display: block;
}
common-legend ul,
common-legend li {
  list-style: none;
  padding: 0;
  margin: 0;
}