.data-table {
    .identifier-message {
        font-size: large;
    }

    .table {
        .header {
            font-size: large;
        }

        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 3px 5px 3px 5px;
            text-align: center;
        }
    }
}
