@import (less) "Common.less";

@child-color-header: darken(@color-accent-1, 10%);
@child-color: @color-accent-1;

@parent-color-header: darken(@color-accent-2, 10%);
@parent-color: @color-accent-2;

@common-color-header: darken(@color-accent-3, 10%);
@common-color: @color-accent-3;

@cr-color-header: darken(@color-accent-4, 10%);
@cr-color: @color-accent-4;


data-table {
    background-color: @color-neutral-2;
    padding: @padding-big;
    display: block;

    & > .identifier-message {
        font-size: @font-size-large;
    }

    & > .table {
        padding: @padding-big;
        background-color: @color-neutral-1;
        animation: @appear-neutral-time appear-neutral;

        & > .header {
            font-size: @font-size-large;
        }

        & > table {
            border-collapse: collapse;

            th,
            td {
                border: @border;
                padding: 3px 5px 3px 5px;
                text-align: center;
            }

            th {
                background-color: @common-color-header;

                &.child {
                    background-color: @child-color-header;
                }

                &.parent {
                    background-color: @parent-color-header;
                }

                &.cr {
                    background-color: @cr-color-header;
                }
            }

            td {
                background-color: @common-color;

                &.child {
                    background-color: @child-color;
                }

                &.parent {
                    background-color: @parent-color;
                }

                &.cr {
                    background-color: @cr-color;
                }

                &.expand {
                    text-align: left;
                    padding: 0;
                    background-color: @color-neutral-2;

                    & > .header {
                        margin: @padding-big;
                        margin-bottom: @padding-space;
                    }
                }
            }
        }
    }

    .cr-container {
        margin-top: @padding-space;
        margin-bottom: @padding-space;

        ul.cr-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .cr-number {
        font-size: @font-size-smaller;
        background: @cr-color;
        border-radius: @border-radius;
        display: inline-block;
        min-width: @font-size;
        height: @font-size;
        text-align: center;
    }
}


common-legend {

    .child-column {
        background-color: @child-color;
    }

    .parent-column {
        background-color: @parent-color;
    }

    .other-column {
        background-color: @common-color;
    }

    .cr {
        background-color: @cr-color;
    }
}
