.data-table {
  background-color: #d4d4d4;
}
.data-table .identifier-message {
  font-size: large;
}
.data-table .table {
  margin: 10px;
}
.data-table .table .header {
  font-size: large;
}
.data-table .table table {
  border-collapse: collapse;
}
.data-table .table table,
.data-table .table th,
.data-table .table td {
  border: 1px solid black;
}
.data-table .table th,
.data-table .table td {
  padding: 3px 5px 3px 5px;
  text-align: center;
}
.data-table .table th {
  background-color: #f5d10e;
}
.data-table .table th.child {
  background-color: #26a7e8;
}
.data-table .table th.parent {
  background-color: #e87a29;
}
.data-table .table td {
  background-color: #f7da3f;
}
.data-table .table td.child {
  background-color: #54baed;
}
.data-table .table td.parent {
  background-color: #ed9757;
}
.data-table .table td.expand {
  background-color: #d4d4d4;
  text-align: left;
}