body {
  font-family: Courier New, Courier, monospace, sans-serif;
  margin: 0;
  padding: 25px;
}
body #init {
  border-bottom: 1px solid #202020;
}
body #box {
  background: #d4d4d4;
  padding: 10px;
}
body #box h2 {
  font-size: 14pt;
}
body #box h3 {
  font-size: 12pt;
}
body #box table {
  border-collapse: collapse;
}
body #box table,
body #box th,
body #box td {
  border: 1px solid black;
}
body #box th,
body #box td {
  padding: 3px 5px 3px 5px;
}
body #box th {
  background-color: #f5d10e;
}
body #box th[data-ischild=true] {
  background-color: #26a7e8;
}
body #box th[data-isparent=true] {
  background-color: #e87a29;
}
body #box td {
  background-color: #f7da3f;
}
body #box td[data-ischild=true] {
  background-color: #54baed;
}
body #box td[data-isparent=true] {
  background-color: #ed9757;
}
body #box td.extend-data-cell {
  background-color: #d4d4d4;
  padding: 10px;
}
body #box a.expand-link {
  background-color: white;
  border: none;
  text-align: center;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  margin-left: 4px;
  font-size: 9pt;
  vertical-align: central;
}
body #box a.expand-link:hover {
  background-color: #D0D0D0;
  text-decoration: none;
}
body #legend {
  position: fixed;
  width: 200px;
  right: 25px;
  top: 25px;
  background: #d4d4d4;
}
body #legend ul,
body #legend li {
  list-style: none;
  padding: 0;
  margin: 0;
}
body #legend .parent-column {
  background-color: #ed9757;
}
body #legend .child-column {
  background-color: #54baed;
}
body #legend .other-column {
  background-color: #f7da3f;
}
body .dialog {
  border: 1px solid #202020;
  padding: 5px;
}
body .dialog h1 {
  font-size: 16pt;
  font-weight: bold;
  margin: 0 0 10px 0;
}