@base-color: #d4d4d4;

@common-color-header: #f5d10e;
@common-color: lighten(@common-color-header, 10%);

@child-color-header: #26a7e8;
@child-color: lighten(@child-color-header, 10%);

@parent-color-header: #e87a29;
@parent-color: lighten(@parent-color-header, 10%);

body {
    font-family: Courier New, Courier, monospace, sans-serif;
    margin: 0;
    padding: 25px;

    #init {
        border-bottom: 1px solid #202020;
    }

    #box {
        background: @base-color;
        padding: 10px;

        h2 {
            font-size: 14pt;
        }

        h3 {
            font-size: 12pt;
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 3px 5px 3px 5px;
            text-align: center;
        }

        th {
            background-color: @common-color-header;

            &[data-ischild=true] {
                background-color: @child-color-header;
            }

            &[data-isparent=true] {
                background-color: @parent-color-header;
            }
        }

        td {
            background-color: @common-color;

            &[data-ischild=true] {
                background-color: @child-color;
            }

            &[data-isparent=true] {
                background-color: @parent-color;
            }

            &.extend-data-cell {
                background-color: @base-color;
                padding: 10px;
                text-align: left;
            }
        }

        .dynamic-table-div {
            margin: -10px;
            padding: 10px;
        }

        a.expand-link {
            background-color: white;
            border: none;
            text-align: center;
            padding: 3px 5px 3px 5px;
            border-radius: 5px;
            text-decoration: none;
            color: black;
            margin-left: 4px;
            font-size: 9pt;

            &:hover {
                background-color: #D0D0D0;
                text-decoration: none;
            }
        }
    }

    #legend {
        position: fixed;
        width: 200px;
        right: 25px;
        top: 25px;
        background: @base-color;

        ul, li {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .parent-column {
            background-color: @parent-color;
        }

        .child-column {
            background-color: @child-color;
        }

        .other-column {
            background-color: @common-color;
        }
    }

    .dialog {
        border: 1px solid #202020;
        padding: 5px;

        h1 {
            font-size: 16pt;
            font-weight: bold;
            margin: 0 0 10px 0;
        }
    }
}
