<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Database Explorer</title>

    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/PicosmosExplorer.js"></script>
    <link href="~/Styles/PicosmosExplorer.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>
