<div>
    <span>Chart for circular reference: {{data.chainDescription}}</span>
</div>
<div *ngIf="!tableModel">
    Loading...
</div>
<table *ngIf="tableModel">
    <tr>
        <td *ngFor="let row of tableModel.rows">
            {{ row.possibleHeader ? row.possibleHeader : "a data entry" }}
        </td>
    </tr>
</table>