
<div class="data-table">

    <span class="identifier-message" *ngIf="dataset">{{dataset.tableName}}.{{dataset.columnName}} = {{dataset.columnValue}} {{kind===0?'is defined in...':'is referenced in...'}}</span>

    <div *ngIf="tables" class="tables">
        <div *ngFor="let table of tables" class="table">
            <span class="header">{{table.name}}</span>
            <table>
                <tr>
                    <th *ngFor="let col of table.columns"
                        class="{{col.isParent?'parent':''}} {{col.isChild?'child':''}}">
                        {{col.columnName}} ({{col.columnType}})
                    </th>
                </tr>
                <tbody *ngFor="let row of table.rows">
                    <tr>
                        <td *ngFor="let cell of row.cells"
                            class="{{cell.isParent?'parent':''}} {{cell.isChild?'child':''}}">
                            {{cell.content}}
                            <a *ngIf="cell.canExpand && !cell.wasAlreadyExpanded"
                               class="button"
                               (click)="expand(table, row, cell)">Expand</a>
                        </td>
                    </tr>
                    <tr *ngIf="row.expandedDatasets.length > 0">
                        <td colSpan="{{table.columns.length}}" class="expand">
                            <div *ngFor="let dataset of row.expandedDatasets">
                                <data-table [dataset]="dataset">Loading Table...</data-table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>