
<div class="data-table">

    <span class="identifier-message" *ngIf="dataset">DataTable: {{dataset.tableName}}.{{dataset.columnName}} = {{dataset.columnValue}} references...</span>

    <div *ngIf="tables">
        <div *ngFor="let table of tables" class="table">
            <span class="header">{{table.name}}</span>
            <table>
                <tr>
                    <th *ngFor="let col of table.columns" 
                        class="{{col.isParent?'parent':''}} {{col.isChild?'child':''}}">
                        {{col.columnName}} ({{col.columnType}})
                    </th>
                </tr>
                <tr *ngFor="let row of table.rows">
                    <td *ngFor="let cell of row.cells"
                        class="{{cell.isParent?'parent':''}} {{cell.isChild?'child':''}}">
                        {{cell.content}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>