
<div class="tile text">
    <h1>Finances</h1>

    <a routerLink="Transactions/Add">Submit new entry</a> | 
    <a routerLink="Import">Import</a> | 
    <a routerLink="Transactions/Overview">Transactions Overview</a> | 
    <a routerLink="UserGroups">UserGroups</a> | 
    <a routerLink="Users">Users</a>

</div>