<a (click)='goTo("Url")'>
        <img src="Assets/Icons/officeqr1/black/url.png" class="icon"/>
    <span class='header' i18n="@@Input-Index-Link-Url-Header">Web Address (Url)</span>
    <span class='description' i18n="@@Input-Index-Link-Url-Description">To call a specific web page.</span>
    <span class="clear"></span>
</a>
<a (click)='goTo("Email")'>
        <img src="Assets/Icons/officeqr1/black/email.png" class="icon"/>
    <span class='header' i18n="@@Input-Index-Link-Email-Header">Email</span>
    <span class='description' i18n="@@Input-Index-Link-Email-Description">To open the default e-mail program and set default values.</span>
    <span class="clear"></span>
</a>
<a (click)='goTo("Text")'>
        <img src="Assets/Icons/officeqr1/black/text.png" class="icon"/>
    <span class='header' i18n="@@Input-Index-Link-Text-Header">Text</span>
    <span class='description' i18n="@@Input-Index-Link-Text-Description">Define your own text.</span>
    <span class="clear"></span>
</a>
<a (click)='goTo("VCard")'>
        <img src="Assets/Icons/officeqr1/black/vcard.png" class="icon"/>
    <span class='header' i18n="@@Input-Index-Link-VCard-Header">vCard</span>
    <span class='description' i18n="@@Input-Index-Link-VCard-Description">Create a vCard with a formular.</span>
    <span class="clear"></span>
</a>
<a (click)='goTo("File")'>
    <img src="Assets/Icons/officeqr1/black/file.png" class="icon"/>
    <span class='header' i18n="@@Input-Index-Link-File-Header">File</span>
    <span class='description' i18n="@@Input-Index-Link-File-Description">Import the content of a file (text, vCard, ...).</span>
    <span class="clear"></span>
</a>