<a (click)='goTo("Url")'>
    <div class='header'>Web Address (Url)</div>
    <div class='description'>To call a specific web page.</div>
</a>
<a (click)='goTo("Email")'>
    <div class='header'>Email</div>
    <div class='description'>To open the default e-mail program and set default values.</div>
</a>
<a (click)='goTo("Text")'>
    <div class='header'>Text</div>
    <div class='description'>Define your own text.</div>
</a>
<a (click)='goTo("VCardForm")'>
    <div class='header'>vCard</div>
    <div class='description'>Create a vCard with a formular.</div>
</a>
<a (click)='goTo("File")'>
    <div class='header'>File</div>
    <div class='description'>Import the content of a file (text, vCard, ...).</div>
</a>