<a (click)='goTo("Url")'>
        <img src="Assets/Icons/officeqr1/black/url.png" class="icon"/>
    <div class='header'>Web Address (Url)</div>
    <div class='description'>To call a specific web page.</div>
</a>
<a (click)='goTo("Email")'>
        <img src="Assets/Icons/officeqr1/black/email.png" class="icon"/>
    <div class='header'>Email</div>
    <div class='description'>To open the default e-mail program and set default values.</div>
</a>
<a (click)='goTo("Text")'>
        <img src="Assets/Icons/officeqr1/black/text.png" class="icon"/>
    <div class='header'>Text</div>
    <div class='description'>Define your own text.</div>
</a>
<a (click)='goTo("VCard")'>
        <img src="Assets/Icons/officeqr1/black/vcard.png" class="icon"/>
    <div class='header'>vCard</div>
    <div class='description'>Create a vCard with a formular.</div>
</a>
<a (click)='goTo("File")'>
    <img src="Assets/Icons/officeqr1/black/file.png" class="icon"/>
    <div class='header'>File</div>
    <div class='description'>Import the content of a file (text, vCard, ...).</div>
</a>