<a (click)='goTo("Index")'><img class="icon-inline" src="Assets/Icons/Google/Material/ic_keyboard_backspace_black_24px.svg"/> Back</a>
<form>

    <div class='form-group'>
        <label for='text'>Text:</label>
        <div class='control-container'>
            <textarea [(ngModel)]='data.text' name='text' 
                      placeholder='' 
                      (input)='dataChanged()'></textarea>
        </div>
    </div>
    <div>
        <span>{{textLength}} Characters - </span>
        <span [ngSwitch]='messageKey' [style.color]='messageColor'>
            <span *ngSwitchCase='"good"'>Good Length</span>
            <span *ngSwitchCase='"ok"'>Length should be no problem</span>
            <span *ngSwitchCase='"warning"'>Pretty long text</span>
            <span *ngSwitchCase='"problem"'>Text could be to long for some scanner</span>
        </span>
    </div>

</form>