<section class="section">

    <span class="section-header">Finances: UserGroups</span>
    
    <div class="section-content">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th class="action-column">Actions</th>
            </tr>
            <ng-template ngFor let-userGroup [ngForOf]="userGroups" let-index="index">
                <tr>
                    <td>{{userGroup.id}}</td>
                    <td>{{userGroup.name}}</td>
                    <td class="action-column">
                        <a (click)="toggleManageUsers(index)">Manage Users</a>
                    </td>
                </tr>
            </ng-template>
        </table>
    </div>
    
</section>
<div class="popup" *ngIf="selectedUserGroup">
    <div class="popup-container">
        <div class="popup-content text">
            <span class="header">Manage Users in "{{selectedUserGroup.name}}"</span>
            
            <section>
                <!--TODO <finances-users-list [users]="usersInSelectedGroup"></finances-users-list> -->
            </section>

            <div class="button-bar">
                <input type="submit" value="Close" (click)="toggleManageUsers()" />
            </div>
        </div>
    </div>
</div>