<section class="section form">

    <span class="section-header"><code>.section + .form</code>-class - Style Test</span>

    <div class="section-content">

        <h1>1 Tile</h1>

        <div class="tiles">
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 1</span><br/>
                <span class="description">Description 1 with a too long text to fit into this tile always.</span>
            </a>
        </div>
        
        <h1>2 Tiles</h1>

        <div class="tiles">
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 1</span><br/>
                <span class="description">Description 1 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 2</span><br/>
                <span class="description">Description 2 with a too long text to fit into this tile always.</span>
            </a>
        </div>
        
        <h1>3 Tiles</h1>

        <div class="tiles">
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 1</span><br/>
                <span class="description">Description 1 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 2</span><br/>
                <span class="description">Description 2 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 3</span><br/>
                <span class="description">Description 3 with a too long text to fit into this tile always.</span>
            </a>
        </div>
        
        <h1>4 Tiles</h1>

        <div class="tiles">
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 1</span><br/>
                <span class="description">Description 1 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 2</span><br/>
                <span class="description">Description 2 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 3</span><br/>
                <span class="description">Description 3 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 4</span><br/>
                <span class="description">Description 4 with a too long text to fit into this tile always.</span>
            </a>
        </div>
        
        <h1>5 Tiles</h1>

        <div class="tiles">
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 1</span><br/>
                <span class="description">Description 1 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 2</span><br/>
                <span class="description">Description 2 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 3</span><br/>
                <span class="description">Description 3 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 4</span><br/>
                <span class="description">Description 4 with a too long text to fit into this tile always.</span>
            </a>
            <a class="tile">
                <i class="material-icons icon">settings</i>
                <span class="header">Tile 5</span><br/>
                <span class="description">Description 5 with a too long text to fit into this tile always.</span>
            </a>
        </div>
        
    </div>

</section>

<router-outlet></router-outlet>