<section class='section'>
    <span class='section-header'><code>.section + .text</code>-class - Style Test</span>
    <div class='section-content'>
        <h1>Header 1 <code>sample-code</code></h1>
        <h2>Header 2 <code>sample-code</code></h2>
        <h3>Header 3 <code>sample-code</code></h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
        <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
            augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
        <h2>Justified Text</h2>
        <p class='justify'>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat
            nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit
            augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
        <section>
            <h2>Formatted Text</h2>
            <h3>Links</h3>
            <ol start='8'>
                <li><a>Anchor without <code>href</code></a></li>
                <li><a href='#'>Anchor with <code>href='#'</code></a></li>
                <li><a href='/'>Anchor with <code>href='/'</code></a></li>
                <li><a href='http://microsoft.com/'>Anchor with <code>href='http://microsoft.com/'</code></a></li>
                <li><a href='https://google.com/'>Anchor with <code>href='https://google.com/'</code></a></li>
            </ol>
            <h3>Others</h3>
            <ul>
                <li><b>Bold text</b></li>
                <li><i>Italic text</i></li>
                <li><em>Emphasized text</em></li>
                <li><strong>Strong text</strong></li>
                <li>
                    <u>Underlined text</u>
                </li>
                <li>
                    <s>No longer correct, accurate or relevant text</s>
                </li>
                <li>
                    <del>Deleted text</del>
                    <ins>inserted text</ins>
                </li>
                <li><code>some.Code();</code></li>
            </ul>
        </section>
        <h2>Tables</h2>
        <h3>Table with all features</h3>
        <table>
            <tr>
                <th>Header a</th>
                <th>Header b</th>
                <th>Header c<br/>Line 2</th>
                <th>Header d</th>
                <th class='action-column'>Actions</th>
            </tr>
            <tr>
                <td>Value 1.a<br/>Line 2</td>
                <td>Value 1.b</td>
                <td rowspan='2'>Value 1.c (rowspan='2')</td>
                <td>Value 1.d</td>
                <td class='action-column'><a>Sample</a></td>
            </tr>
            <tr>
                <td colspan='2'>Value 2.a (colspan='2')</td>
                <td>Value 2.d</td>
                <td class='action-column'><a>Sample</a></td>
            </tr>
            <tr>
                <td colspan='2' rowspan='2'>Value 3.a (colspan='2', rowspan='2')<br/>Line 2</td>
                <td>Value 1.c</td>
                <td>Value 1.d<br/>Line 2</td>
                <td class='action-column'><a><img src='http://placehold.it/16x16' alt='IMG'/></a> <a><img src='http://placehold.it/16x16' alt='IMG'/></a>                    <a><img src='http://placehold.it/16x16' alt='IMG'/></a></td>
            </tr>
            <tr>
                <td colspan='2'>Value 4.c (colspan='2')</td>
                <td class='action-column'><a><img src='http://placehold.it/16x16' alt='IMG'/></a> <a><img src='http://placehold.it/16x16' alt='IMG'/></a></td>
            </tr>
            <tbody>
                <tr>
                    <td>Value 100.a</td>
                    <td>Value 100.b</td>
                    <td>Value 100.c</td>
                    <td>Value 100.d</td>
                    <td class='action-column'><a>Details</a></td>
                </tr>
                <tr class='details-row'>
                    <td colspan='5'>
                        <span class='header'>Details:</span>
                        <table>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>1.1</td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>2.1</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Value 101.a</td>
                    <td>Value 101.b</td>
                    <td>Value 101.c</td>
                    <td>Value 101.d</td>
                    <td class='action-column'><a>Details</a></td>
                </tr>
                <tr class='details-row'>
                    <td colspan='5'>
                        <span class='header'>Details:</span>
                        <table>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>1.2</td>
                            </tr>
                            <tr>
                                <td>B</td>
                                <td>2.2</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Simple table without <code>tbody</code></h3>
        <table>
            <tr>
                <th>Header a</th>
                <th>Header b</th>
                <th>Header c<br/>Line 2</th>
                <th>Header d</th>
                <th class='action-column'>Actions</th>
            </tr>
            <tr>
                <td>Value 5.a</td>
                <td>Value 5.b</td>
                <td>Value 5.c</td>
                <td>Value 5.d</td>
                <td class='action-column'><a>Sample</a></td>
            </tr>
            <tr>
                <td>Value 6.a</td>
                <td>Value 6.b</td>
                <td>Value 6.c</td>
                <td>Value 6.d</td>
                <td class='action-column'><a>Sample</a></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>Second a</th>
                <th>Second b</th>
                <th>Second c</th>
                <th>Second d</th>
                <th class='action-column'>Actions</th>
            </tr>
            <tr>
                <td>Value 7.a</td>
                <td>Value 7.b</td>
                <td>Value 7.c</td>
                <td>Value 7.d</td>
                <td class='action-column'><a>Sample</a></td>
            </tr>
            <tr>
                <td>Value 8.a</td>
                <td>Value 8.b</td>
                <td>Value 8.c</td>
                <td>Value 8.d</td>
                <td class='action-column'><a>Sample</a></td>
            </tr>
        </table>
        <h3>Simple table with <code>tbody</code></h3>
        <table>
            <tr>
                <th>Header a<br/>Line 2</th>
                <th>Header b<br/>Line 2</th>
                <th>Header c</th>
                <th>Header d</th>
                <th class='action-column'>Actions</th>
            </tr>
            <tbody>
                <tr>
                    <td>Value 9.a</td>
                    <td>Value 9.b</td>
                    <td>Value 9.c</td>
                    <td>Value 9.d</td>
                    <td class='action-column'><a>Sample</a></td>
                </tr>
                <tr class='details-row'>
                    <td colspan='5'>
                        Details...
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Value 10.a</td>
                    <td>Value 10.b</td>
                    <td>Value 10.c</td>
                    <td>Value 10.d</td>
                    <td class='action-column'><a>Sample</a></td>
                </tr>
                <tr class='details-row'>
                    <td colspan='5'>
                        Details...
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Value 11.a</td>
                    <td>Value 11.b</td>
                    <td>Value 11.c</td>
                    <td>Value 11.d</td>
                    <td class='action-column'><a>Sample</a></td>
                </tr>
                <tr class='details-row'>
                    <td colspan='5'>
                        Details...
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Value 12.a</td>
                    <td>Value 12.b</td>
                    <td>Value 12.c</td>
                    <td>Value 12.d</td>
                    <td class='action-column'><a>Sample</a></td>
                </tr>
                <tr class='details-row'>
                    <td colspan='5'>
                        Details...
                    </td>
                </tr>
            </tbody>
        </table>
        <h3><code>.form-table</code></h3>
        <table class='form-table'>
            <tr>
                <td class=''>Cell without class</td>
                <td class='good-cell'>good-cell</td>
                <td class='danger-cell'>danger-cell</td>
                <td class='error-cell'>error-cell</td>
            </tr>
        </table>
    </div>
</section>