<header class="app-header" i18n="@@app-header">
    Office QR 2
</header>

<section id='section-data-input'>
    <header i18n="@@app-section-DataInput-header">Data Input</header>
    <router-outlet name="data-input"></router-outlet>
</section>

<section id="section-common-input">
    <header i18n="@@app-section-CommonSettings-header">Common Settings</header>
    <settings-input></settings-input>
</section>

<section id="section-preview">
    <header i18n="@@app-section-Preview-header">Preview</header>
    <code-preview></code-preview>
</section>

<router-outlet id="message-outlet" name="popup"></router-outlet>