<header class="app-header" i18n="@@app-header">
    Office QR 2
</header>

<section id='section-data-input'>
    <h1 i18n="@@app-section-DataInput-header">Data Input</h1>
    <router-outlet name="data-input"></router-outlet>
</section>

<section id="section-common-input">
    <h1 i18n="@@app-section-CommonSettings-header">Common Settings</h1>
    <settings-input></settings-input>
</section>

<section id="section-preview">
    <h1 i18n="@@app-section-Preview-header">Preview</h1>
    <code-preview></code-preview>
</section>

<notification></notification>