@import "../Styles/shared.less";

.background {
    background-color: fade(@color-light, 70%);
    padding: @padding;
    max-height: 250px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: @color-accent-dark;
    color: @color-light;

    .container {

        .header {
            margin-bottom: @padding;
            padding: @padding;
            font-size: x-large;
        }

        .text {
            padding-left: @padding;
            padding-right: @padding;
            display: block;
        }

        .links {
            padding: @padding;
            text-align: right;
            a {
                color: @color-accent-light;
                &:hover {
                    color: @color-light;
                }
            }
        }
    }
}
