<section class="section form">

    <span class="section-header">Finances</span>

    <div class="section-content">

        <h1>Common</h1>

        <div class="tiles">
            <a routerLink="Transactions" class="tile">
                <i class="material-icons icon"></i>
                <span class="header">Transactions</span>
            </a>
            <a routerLink="Import" class="tile">
                <i class="material-icons icon"></i>
                <span class="header">Import</span><br/>
                <span class="description">Import an <em>account statement</em> or a <em>Finances CSV</em> file.</span>
            </a>
            <a routerLink="Persons" class="tile">
                <i class="material-icons icon"></i>
                <span class="header">Persons</span>
            </a>
        </div>

        <h1>Administrative</h1>
        
        <div class="tiles">
            <a routerLink="UserGroups" class="tile">
                <i class="material-icons icon">group</i>
                <span class="header">UserGroups</span>
            </a>
            <a routerLink="Users" class="tile">
                <i class="material-icons icon">person</i>
                <span class="header">Users</span>
            </a>
        </div>
        
    </div>

</section>

<router-outlet></router-outlet>