<section class='section form'>

    <span class='section-header'>Finances</span>

    <div class='section-content'>

        <h1>Common</h1>

        <div class='tiles'>
            <a routerLink='Transactions' class='tile'>
                <i class='material-icons icon'></i>
                <div class='header'>Transactions</div>
            </a>
            <a routerLink='Import' class='tile'>
                <i class='material-icons icon'></i>
                <div class='header'>Import</div>
                <div class='description'><p>Import an <em>account statement</em> or a <em>Finances CSV</em> file.</p></div>
            </a>
            <a routerLink='Persons' class='tile'>
                <i class='material-icons icon'></i>
                <div class='header'>Persons</div>
            </a>
        </div>

        <h1>Administrative</h1>
        
        <div class='tiles'>
            <a routerLink='UserGroups' class='tile'>
                <i class='material-icons icon'>group</i>
                <div class='header'>UserGroups</div>
            </a>
            <a routerLink='Users' class='tile'>
                <i class='material-icons icon'>person</i>
                <div class='header'>Users</div>
            </a>
        </div>
        
    </div>

</section>

<router-outlet></router-outlet>