
<div class="tile text">
    <h1>Finances Overview</h1>

    <div class="form-group">
        <label for="user">User:</label>
        <div class="control-container">  
            <select [(ngModel)]="user" name="user">
                <option *ngFor="let user of users" [ngValue]="user.id">{{user.header}}</option>
            </select>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <th>Account Name</th>
                <th>Currency Id</th>
                <th>Value</th>
            </tr>
            <tr *ngFor="let row of transactionOverview">
                <td>{{row.accountName}}</td>
                <td>{{row.currencyAccountId}}</td>
                <td>{{row.value}}</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <label for="currencyAccount">Currency Account:</label>
        <div class="control-container">  
            <select [(ngModel)]="currencyAccount" name="currencyAccount">
                <option *ngFor="let currencyAccount of currencyAccounts" [ngValue]="currencyAccount.id">{{currencyAccount.header}}</option>
            </select>
        </div>
    </div>
</div>