<div class="tile text">
    <h1>Finances: Import</h1> 
</div>   
<div [ngSwitch]="currentStep">
    <div *ngSwitchCase="'fileSelect'">
        <div class="tile text">
            <form>
                <input type="file" (change)="processFileInputChange($event)" value="Choose file" />
            </form>
        </div>
    </div>
    <div *ngSwitchCase="'fileTypeSelect'">
        <div class="tile text">
            <p>Please choose the file type:</p>
        </div>         
        <a *ngFor="let type of possibleFileTypes; let i = index" class="text link-tile" (click)="import(i)">
            <img class="tile-image" src="http://placehold.it/64x64/000000/ffffff" alt="$"/>
            <span class="tile-header">{{type.provider}}</span><br/>
            <span class="tile-description">{{type.description}}</span>
        </a>
    </div>
    <div *ngSwitchCase="'showAndFitData'">
        <div class="tile text">
            <table>
                <tr>
                    <th>Time Stamp</th>
                    <th>Note</th>
                    <th>Value</th>
                </tr>
                <tbody *ngFor="let transaction of transactions">
                    <tr>
                        <td>{{transaction.timeStamp}}</td>
                        <td>{{transaction.note}}</td>
                        <td>{{transaction.value}}</td>
                    </tr>
                    <tr class="details-row">
                        <td colspan="3">
                            <table *ngIf="transaction.rawData.length > 0">
                                <tr>
                                    <th>Key</th>
                                    <th>Value</th>
                                </tr>
                                <tr *ngFor="let data of transaction.rawData">
                                    <td>{{data.key}}</td>
                                    <td>{{data.value}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>