
<div class="tile text">
    <h1>Finances</h1>

    <form (ngSubmit)="submitNewPerson()" *ngIf="showAddPersonForm" class="inner-form">
        <div class="form-header">
            Add new person
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <div class="control-container">
                <input type="text" class="form-control" id="new-person-name" [(ngModel)]="addNewPersonName" name="newPersonName" />
            </div>
        </div>
        <div class="button-bar">
            <input type="button" class="btn btn-cancel" (click)="showAddPersonForm=false" value="Cancel"/>
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>

    <form (ngSubmit)="submit()">
        <div class="form-header">
            Add Finance Entry
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <div class="control-container">
                <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name" required />
            </div>
            <div class="additional-controls">  
                <input type="button" class="form-control" (click)="name=''" value="Clear" *ngIf="name!=''&&name!=null"/>
            </div> 
        </div>
        <div class="form-group">
            <label for="value">Value:</label>
            <div class="control-container">  
                <input type="number" class="form-control" id="value" [(ngModel)]="value" name="value" required />
            </div> 
        </div>
        <div class="form-group">
            <label for="currency">Currency:</label>
            <div class="control-container">  
                <select [(ngModel)]="currency" name="currency">
                    <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{currency.header}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="user">User:</label>
            <div class="control-container">  
                <select [(ngModel)]="user" name="user">
                    <option *ngFor="let user of users" [ngValue]="user.id">{{user.header}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="person">Person:</label>
            <div class="control-container">  
                <select [(ngModel)]="person" name="person" [disabled]="showAddPersonForm">
                    <option *ngFor="let person of persons" [ngValue]="person.id">{{person.header}}</option>
                </select>
            </div>
            <div class="additional-controls">  
                <input type="button" class="form-control" (click)="showAddPersonForm=true" value="Add" *ngIf="!showAddPersonForm"/>
            </div> 
        </div>
        <div class="form-group">
            <label for="timeStamp">Time Stamp:</label>
            <div class="control-container">  
                <input type="datetime" class="form-control" id="timeStamp" [(ngModel)]="timeStamp" name="timeStamp" required />
            </div> 
            <div class="additional-controls">  
                <input type="button" class="form-control" (click)="setTimeToNow()" value="Now"/>
            </div> 
        </div>
        <div>
            <div *ngIf="coordinates">
                <table>
                    <tbody>
                        <tr><td>Latitude:</td><td>{{coordinates.latitude}}</td></tr>
                        <tr><td>Longitude:</td><td>{{coordinates.longitude}}</td></tr> 
                        <tr><td>Accuracy:</td><td>{{coordinates.accuracy}}</td></tr>     
                    </tbody>
                    <tbody>
                        <tr><td>Altitude:</td><td>{{coordinates.altitude}}</td></tr>        
                        <tr><td>Altitude Accuracy:</td><td>{{coordinates.altitudeAccuracy}}</td></tr>
                    </tbody>
                    <tbody>
                        <tr><td>Heading:</td><td>{{coordinates.heading}}</td></tr>       
                        <tr><td>Speed:</td><td>{{coordinates.speed}}</td></tr>       
                    </tbody>
                </table>
            </div>
            <div *ngIf="!coordinates">
                Unable to get coordinates from your browser.
            </div>
        </div>

        <div class="button-bar" >
            <input type="button" class="btn btn-cancel" (click)="cancel()" value="Cancel"/>
            <button type="submit" class="btn btn-success" >Submit</button>
        </div>

        <div class="form-overlay" *ngIf="showAddPersonForm"></div>
    </form>
</div>