<div class="tile text">
    <h1>Finances: Import</h1> 
</div>   
<div [ngSwitch]="currentStep">
    <div *ngSwitchCase="'userSelect'">
        <div class="tile text">
            <form (ngSubmit)="nextStep()">
                <div class="form-group">
                    <label for="user">User:</label>
                    <div class="control-container">  
                        <select [(ngModel)]="selectedUser" name="user">
                            <option *ngFor="let user of users" [ngValue]="user.id">{{user.header}}</option>
                        </select>
                    </div>
                    <div class="button-bar" >
                        <button type="submit" class="btn btn-success" *ngIf="selectedUser">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngSwitchCase="'fileSelect'">
        <div class="tile text">
            <form>
                <input type="file" (change)="processFileInputChange($event)" value="Choose file" />
            </form>
        </div>
    </div>
    <div *ngSwitchCase="'fileTypeSelect'">
        <div class="tile text">
            <p>Please choose the file type:</p>
        </div>         
        <a *ngFor="let type of possibleFileTypes; let i = index" class="text link-tile" (click)="import(i)">
            <img class="tile-image" src="http://placehold.it/64x64/000000/ffffff" alt="$"/>
            <span class="tile-header">{{type.provider}}</span><br/>
            <span class="tile-description">{{type.description}}</span>
        </a>
    </div>
    <div *ngSwitchCase="'showAndFitData'">
        <div class="tile text">
            <table class="form-table">
                <tr>
                    <th>Time Stamp</th>
                    <th>Note</th>
                    <th>Value</th>
                    <th>Person <a (click)="addPerson()">Add</a></th>
                    <th class="action-column"></th>
                </tr>
                <ng-template ngFor [ngForOf]="transactions" let-transaction let-i="index">
                    <tr>
                        <td>{{transaction.timeStamp}}</td>
                        <td>{{transaction.note}}</td>
                        <td>{{transaction.value}}</td>
                        <td class="{{transaction.personId ? '' : 'error-cell'}}">
                            <select [(ngModel)]="transaction.personId" >
                                <option *ngFor="let person of persons" [ngValue]="person.id">{{person.header}}</option>
                            </select>
                            <a *ngIf="!transaction.personId" (click)="addPerson(transaction.suggestedPersonName)">Add {{transaction.suggestedPersonName}}</a>
                        </td>
                        <td class="action-column">
                            <a (click)="toggleDetails(i)" 
                               *ngIf="transaction.rawData.length > 0">
                               <span *ngIf="transaction.showDetails">Hide</span><span *ngIf="!transaction.showDetails">Show</span> Details
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </table>
        </div>
        <div class="popup" *ngIf="shownRawData && shownRawData.length > 0">
            <div class="popup-container">
                <div class="popup-content text">
                    <span class="header">Details</span>
                    
                    <table>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        <tr *ngFor="let data of shownRawData">
                            <td>{{data.key}}</td>
                            <td>{{data.value}}</td>
                        </tr>
                    </table>
                    <div class="button-bar">
                        <input type="submit" value="Close" (click)="toggleDetails(lastIndexShownDetails)" />
                    </div>
                </div>
            </div>
        </div>
        <div class="popup" *ngIf="showAddPersonPopup">
            <div class="popup-container">
                <div class="popup-content text">
                    <span class="header">Add Person</span>
                    
                    <finances-new-person [personName]="suggestedNewPersonName" (close)="closeAddPersonPopup($event)"></finances-new-person>
                </div>
            </div>
        </div>
    </div>
</div>