@import "common.less";

form{
    .form-group{
      display: table-row;
      padding-bottom: @padding-small;
      @media @mobile-selector{
        &{
          display: block;
          margin-bottom: @padding-small;
        }
      }
      &>*{
        display:table-cell;
        vertical-align: middle;
        @media @mobile-selector{
          &{
            display: block;
          }
        }
      }

      input, select, button{
        display:inline-block;
        box-sizing: border-box;
        &:active{
          border: 1px solid @color-accent-dark;
        }
      }
      input:not([type=button]), select{
        width:100%;
        border: 1px solid @color-dark;
        padding: @padding-tiny @padding-small;
        background-color: @color-light;
      }

      button, input[type=button], input[type=submit]{
        border: none;
        color:@color-light;
        cursor: pointer;
        padding: @padding-tiny @padding-small;
        background-color: @color-dark-1;
        &:hover{
          background-color: @color-dark-2;
        }
      }

      label{
        padding-right: @padding-small;
        vertical-align: top;
      }
      .control-container{
        padding-right: @padding-small;
        min-width: 200px;
      }
    }

    .form-control-group{
      margin-top: @padding;
      input[type=button], input[type=submit], button{
        padding: @padding-small @padding;
        background-color: @color-dark;
        color: @color-light;
        border: none;
        min-width: 120px;
        cursor: pointer;
        &:hover{
          background-color: @color-dark-1;
        }
        &[type=submit]{
          background-color: @color-accent-dark;
          &:hover{
            background-color: @color-accent-dark-1;
          }
        }
      }
    }
  }