.font-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 300;
}
@media screen and (max-width: 500px) {
  .font-header {
    font-size: 14pt;
    font-weight: 400;
  }
}
.font-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
.font-bold {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-weight: 700;
}
.font-code {
  font-family: 'Courier New', monospace;
  font-size: 11pt;
}
form .form-group {
  display: table-row;
  padding-bottom: 5px;
}
@media screen and (max-width: 500px) {
  form .form-group {
    display: block;
    margin-bottom: 5px;
  }
}
form .form-group > * {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 500px) {
  form .form-group > * {
    display: block;
  }
}
form .form-group input,
form .form-group select,
form .form-group button {
  display: inline-block;
  box-sizing: border-box;
}
form .form-group input:active,
form .form-group select:active,
form .form-group button:active {
  border: 1px solid #209030;
}
form .form-group input:not([type=button]),
form .form-group select {
  width: 100%;
  border: 1px solid #101010;
  padding: 2.5px 5px;
  background-color: #F0F0F0;
}
form .form-group button,
form .form-group input[type=button],
form .form-group input[type=submit] {
  border: none;
  color: #F0F0F0;
  cursor: pointer;
  padding: 2.5px 5px;
  background-color: #404040;
}
form .form-group button:hover,
form .form-group input[type=button]:hover,
form .form-group input[type=submit]:hover {
  background-color: #707070;
}
form .form-group label {
  padding-right: 5px;
  vertical-align: top;
}
form .form-group .control-container {
  padding-right: 5px;
  min-width: 326.66666667px;
}
form .form-control-group {
  margin-top: 10px;
}
form .form-control-group input[type=button],
form .form-control-group input[type=submit],
form .form-control-group button {
  padding: 5px 10px;
  background-color: #101010;
  color: #F0F0F0;
  border: none;
  min-width: 120px;
  cursor: pointer;
}
form .form-control-group input[type=button]:hover,
form .form-control-group input[type=submit]:hover,
form .form-control-group button:hover {
  background-color: #404040;
}
form .form-control-group input[type=button][type=submit],
form .form-control-group input[type=submit][type=submit],
form .form-control-group button[type=submit] {
  background-color: #209030;
}
form .form-control-group input[type=button][type=submit]:hover,
form .form-control-group input[type=submit][type=submit]:hover,
form .form-control-group button[type=submit]:hover {
  background-color: #40A04C;
}
