@dark: #202020;
@light: #F0F0F0;
@accent-dark: #102020;
@accent-light: #D8F0F0;

@font-family-text: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
@font-family-mono: 'Courier New', monospace;

@font-size-title: 48pt;
@font-size-text: 12pt;

@padding: 10px;
@page-width: 1000px;

body{
  background-color: @accent-dark;
  color: @light;
  font-family: @font-family-text;
  font-size: @font-size-text;
  margin: 0;


  #head{
    font-family: @font-family-mono;
    font-size: @font-size-title;
    color: @light;
    text-align: center;
  }

  #menu{
    font-family: @font-family-mono;
    text-align: center;
  }

  a{
    text-decoration: none;
    color: @accent-light;
    &:hover{
      text-decoration: underline;
    }
  }

  #padding-content{
    margin: 0 auto;
    padding: @padding;
    max-width: @page-width;

    #content{
      background-color: @accent-light;
      color:@dark;
      padding: @padding;

      p{
        margin-top:0;
        margin-bottom: @padding;
      }

      p:last-child{
        margin-bottom:0;
      }
    }

  }

  footer{
    text-align: center;
    background-color:@dark;
    padding: @padding;

    .columns{
      display:block;

      .column{
        display:inline-block;    
        vertical-align: top;
        text-align: left;
        min-width: @page-width / 4;
      }
    }
  }

  ul.text-list{
    list-style: none;
      padding: 0;
      margin:0;
  }
} 

// format selected text
::selection { 
  text-shadow: none;
}