@dark: #202020;
@light: #F0F0F0;
@accent-dark: #102020;
@accent-light: #D8F0F0;

@font-family-text: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
@font-family-mono: 'Courier New', monospace;

@font-size-title: 48pt;
@font-size-text: 12pt;

body{
  background-color: @accent-dark;
  color: @light;
  font-family: @font-family-text;
  font-size: @font-size-text;

  #head{
    font-family: @font-family-mono;
    font-size: @font-size-title;
    color: @light;
    text-align: center;
  }

  #menu{
    font-family: @font-family-mono;
    text-align: center;
  }

  a{
    text-decoration: none;
    color: @accent-light;
    &:hover{
      text-decoration: underline;
    }
  }

  #content{
    background-color: @accent-light;
    margin: 10px auto;
    color:@dark;
    padding:10px;
    max-width: 1060px;

    p:first-child{
        margin-top:0;
    }
    p:last-child{
        margin-bottom:0;
    }
  }
} 

// format selected text
::selection { 
  text-shadow: none;
}