.font-header {
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: 300;
}
@media screen and (max-width: 500px) {
  .font-header {
    font-size: 14pt;
    font-weight: 400;
  }
}
.font-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
.font-bold {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-weight: 700;
}
.font-code {
  font-family: 'Courier New', monospace;
  font-size: 11pt;
}
body {
  background: url('/Images/background.png');
  background-repeat: repeat;
  background-position-x: 50%;
  color: #F0F0F0;
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  margin: 0;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body #head {
  font-family: 'Courier New', monospace;
  font-size: 11pt;
  font-size: 48pt;
  color: #F0F0F0;
  text-align: center;
}
body #head a {
  color: #D8F0F0;
}
body #menu {
  font-family: 'Courier New', monospace;
  font-size: 11pt;
  text-align: center;
}
body #menu a {
  color: #D8F0F0;
}
body #padding-content {
  margin: 0 auto;
  padding: 10px;
  max-width: 1000px;
}
@media screen and (max-width: 500px) {
  body #padding-content {
    padding-left: 0;
    padding-right: 0;
  }
}
body #padding-content #content {
  background-color: rgba(255, 255, 255, 0.8);
  color: #202020;
  padding: 10px;
}
body footer {
  text-align: center;
  background-color: #202020;
  padding: 10px;
}
body footer .columns {
  display: block;
}
body footer .columns .column {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  min-width: 250px;
}
body footer a {
  color: #D8F0F0;
}
body ul.text-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
body ul.text-list > li > a > img,
body ul.text-list > li img {
  width: 16px;
  height: 16px;
  margin: 0 5px 0 0;
  vertical-align: -2px;
}
body ul.text-list > li > a > img .fill-path,
body ul.text-list > li img .fill-path {
  fill: #D8F0F0;
}
::selection {
  text-shadow: none;
  background: #D8F0F0;
}
