
<section>
    <nav>
        <li><a routerLink="Transactions/Add"><i class="material-icons">add</i><span class="text">Submit new entry</span></a></li>
        <li><a routerLink="Import"><i class="material-icons">cloud_upload</i><span class="text">Import</span></a></li>
        <li><a routerLink="Transactions/Overview"><i class="material-icons">timeline</i><span class="text">Transactions Overview</span></a></li>
        <li><a routerLink="UserGroups"><i class="material-icons">group</i><span class="text">UserGroups</span></a></li>
        <li><a routerLink="Users"><i class="material-icons">person</i><span class="text">Users</span></a></li>
    </nav>
</section>

<router-outlet></router-outlet>
