<section class="section">

    <span class="section-header">Transactions</span>

    <div class="section-content">

        <div class="tiles">
            <a routerLink="Add" class="tile">
                <i class="material-icons icon">add</i>
                <span class="header">Add</span>
            </a>
            <a routerLink="Overview" class="tile">
                <i class="material-icons icon">view_list</i>
                <span class="header">Overview</span>
            </a>
        </div>

    </div>

</section>

<router-outlet></router-outlet>