@model String
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin: Database Explorer</title>

    <link href="~/Styles/Main.css" rel="stylesheet" />
</head>
<body>
    @if (!String.IsNullOrEmpty(Model))
    {
        <div>Result: @Model</div>
    }
    <a href="/Admin/Update_Explorer_CircularReferences">Update Explorer_CircularReferences table</a>
</body>
</html>
