.font-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
.font-bold {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-weight: 700;
}
.font-input {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  background: #888888;
  margin: 0;
}
body #header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 64px;
  background-color: #101010;
  border-bottom: 2.5px #888888;
}
body #sections {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 66.5px;
  bottom: 0;
}
body #sections .section {
  margin-top: 2.5px;
}
body #sections .section.first-section {
  margin-top: 0;
}
body #sections .section > .section-header {
  display: block;
  background-color: #101010;
  color: #F0F0F0;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 24pt;
  font-weight: 300;
}
body #sections .section > .section-header code {
  font-family: 'Courier New', monospace;
  font-size: 22pt;
}
@media screen and (max-width: 500px) {
  body #sections .section > .section-header {
    font-size: 17.33333333pt;
    font-weight: 400;
  }
  body #sections .section > .section-header code {
    font-family: 'Courier New', monospace;
    font-size: 15.88888889pt;
  }
}
body #sections .section > .section-content {
  display: block;
  background-color: #404040;
  color: #F0F0F0;
  padding: 10px;
}
