.font-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
.font-bold {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-weight: 700;
}
.font-input {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  background: #888888;
  margin: 0;
}
body .section {
  border-top: 10px #888888 solid;
}
body .section > .section-header {
  display: block;
  background-color: #101010;
  color: #F0F0F0;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 24pt;
  font-weight: 300;
}
body .section > .section-header code {
  font-family: 'Courier New', monospace;
  font-size: 22pt;
}
@media screen and (max-width: 500px) {
  body .section > .section-header {
    font-size: 17.33333333pt;
    font-weight: 400;
  }
  body .section > .section-header code {
    font-family: 'Courier New', monospace;
    font-size: 15.88888889pt;
  }
}
body .section > .section-content {
  display: block;
  background-color: #404040;
  color: #F0F0F0;
  padding: 10px;
}
