.font-text {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
.font-bold {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-weight: 700;
}
.font-input {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
}
.text section {
  margin-bottom: 10px;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6,
.text .header {
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}
.text h1 code,
.text h2 code,
.text h3 code,
.text h4 code,
.text h5 code,
.text h6 code,
.text .header code {
  font-family: 'Courier New', monospace;
  font-size: 16.5pt;
}
@media screen and (max-width: 500px) {
  .text h1,
  .text h2,
  .text h3,
  .text h4,
  .text h5,
  .text h6,
  .text .header {
    font-size: 13pt;
    font-weight: 400;
  }
  .text h1 code,
  .text h2 code,
  .text h3 code,
  .text h4 code,
  .text h5 code,
  .text h6 code,
  .text .header code {
    font-family: 'Courier New', monospace;
    font-size: 11.91666667pt;
  }
}
.text h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 48pt;
  font-weight: 300;
}
.text h1 code {
  font-family: 'Courier New', monospace;
  font-size: 44pt;
}
@media screen and (max-width: 500px) {
  .text h1 {
    font-size: 34.66666667pt;
    font-weight: 400;
  }
  .text h1 code {
    font-family: 'Courier New', monospace;
    font-size: 31.77777778pt;
  }
}
.text h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 33pt;
  font-weight: 300;
}
.text h2 code {
  font-family: 'Courier New', monospace;
  font-size: 30.25pt;
}
@media screen and (max-width: 500px) {
  .text h2 {
    font-size: 23.83333333pt;
    font-weight: 400;
  }
  .text h2 code {
    font-family: 'Courier New', monospace;
    font-size: 21.84722222pt;
  }
}
.text h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 24pt;
  font-weight: 300;
}
.text h3 code {
  font-family: 'Courier New', monospace;
  font-size: 22pt;
}
@media screen and (max-width: 500px) {
  .text h3 {
    font-size: 17.33333333pt;
    font-weight: 400;
  }
  .text h3 code {
    font-family: 'Courier New', monospace;
    font-size: 15.88888889pt;
  }
}
.text .header {
  font-family: 'Quicksand', sans-serif;
  font-size: 18pt;
  font-weight: 300;
}
.text .header code {
  font-family: 'Courier New', monospace;
  font-size: 16.5pt;
}
@media screen and (max-width: 500px) {
  .text .header {
    font-size: 13pt;
    font-weight: 400;
  }
  .text .header code {
    font-family: 'Courier New', monospace;
    font-size: 11.91666667pt;
  }
}
.text p {
  margin-top: 0;
  margin-bottom: 10px;
}
.text p.justify {
  text-align: justify;
  text-justify: inter-word;
}
.text p:last-of-type {
  margin-bottom: 20px;
}
.text p:last-child {
  margin-bottom: 0;
}
.text a {
  color: #209030;
  text-decoration: none;
}
.text a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.text a[href^=http] {
  background-image: url('http://placehold.it/16x16');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
  /* Adjust according to image size to push text across. */
}
.text b,
.text strong {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-weight: 700;
}
.text i,
.text em {
  font-style: italic;
}
.text u,
.text ins {
  text-decoration-style: underline;
}
.text s,
.text del {
  text-decoration-style: line-through;
}
.text code {
  font-family: 'Courier New', monospace;
  font-size: 11pt;
}
.text ul {
  list-style: circle;
}
.text ol {
  list-style-position: inside;
}
.text table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.text table:last-of-type {
  margin-bottom: 20px;
}
.text table:last-child {
  margin-bottom: 0;
}
.text table tr th,
.text table tr td {
  border-bottom: 1px solid #101010;
  border-right: 1px dotted #101010;
  padding: 2.5px 5px;
}
.text table tr th:last-child,
.text table tr td:last-child {
  border-right: none;
}
.text table tr th {
  font-family: 'Quicksand', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-weight: 700;
  text-align: left;
  vertical-align: bottom;
}
.text table tr td {
  vertical-align: top;
}
.text table tr.details-row > td {
  padding: 10px;
}
.text table tr:last-child > td {
  border-bottom: none;
}
.text table tr:last-child.details-row {
  border-bottom: 1px solid #101010;
}
