<section class='section'>

    <span class='section-header'>Transactions List</span>

    <div class='section-content'>

        <div class="paging-links">
            <a *ngIf="previousPage" (click)="navigateToPage(previousPage)">Previous</a>
            <a *ngFor="let i of pageLinks" (click)="navigateToPage(i)">{{i}}</a>
            <a *ngIf="nextPage" (click)="navigateToPage(nextPage)">Next</a>
        </div>

        <table>
            <tr>
                <th>Id</th>
                <th>Time Stamp</th>
                <th>Note</th>
                <th>Value</th>
                <th>Person Id</th>
            </tr>
            <tr *ngFor='let transaction of displayList'>
                <td>{{transaction.id}}</td>
                <td>{{transaction.timeStampDate}} <span *ngIf='transaction.timeStampTime'>({{transaction.timeStampTime}})</span></td>
                <td>{{transaction.note}}</td>
                <td>{{transaction.value}}</td>
                <td>{{transaction.personId}}</td>
            </tr>
        </table>

    </div>

</section>

<router-outlet name='next'></router-outlet>