<section class='section'>

    <span class='section-header'>Finances Overview</span>

    <div class='section-content'>
        <div class='form-group'>
            <label for='user'>User:</label>
            <div class='control-container'>  
                <select [(ngModel)]='user' name='user'>
                    <option *ngFor='let user of users' [ngValue]='user.id'>{{user.header}}</option>
                </select>
            </div>
        </div>
        <div>
            <table class="data-table">
                <tr>
                    <th>Account Name (Currency)</th>
                    <th>Value</th>
                    <th class='action-column'>Actions</th>
                </tr>
                <tr *ngFor='let row of transactionOverview'>
                    <td>{{row.currencyAccountName}}</td>
                    <td>{{row.value}}</td>
                    <td class='action-column'><a (click)='showTable(row.currencyAccountId)'>Show Table</a></td>
                </tr>
            </table>
        </div>
    </div>
    
</section>

<router-outlet></router-outlet>