<div id="head">Picosmos.Real</div>

<main-menu id="menu"></main-menu>

<div id="padding-content">
    <div id="content" class="text">
        <router-outlet></router-outlet>
    </div>
</div>

<footer>
    Copyright &copy; Tom Lambert (Koopakiller)
    <div class="columns">
        <div class="column">
            <span class="column-header">Social Media (Developers)</span>
            <ul class="text-list">
                <li><a href="https://www.facebook.com/tom.la.13035"><img alt="Facebook" src="/Images/facebook-white.svg"/>Tom Lambert</a></li>
                <li><a href="https://twitter.com/Koopakiller100"><img alt="Twitter" src="/Images/twitter-white.svg"/>&#64;Koopakiller100</a></li>
                <li><a href="https://github.com/Koopakiller"><img alt="GitHub" src="/Images/github-white.svg"/>Koopakiller</a></li>
            </ul>
        </div>
        <div class="column">
            <span class="column-header">Other Projects</span>
            <ul class="text-list">
                <li><a href="#">code-13.net</a></li>
            </ul>
        </div>
    </div>
</footer>