
<div class="text tile">
    <h1>Home</h1>
</div>


<a routerLink="/Finances" class="text link-tile">
    <img class="tile-image" src="/Images/Finances.png" alt="$"/>
    <span class="tile-header">Finances</span><br/>
    <span class="tile-description">Finances v5</span>
</a><a routerLink="/Media" class="text link-tile">
    <img class="tile-image" src="/Images/Media.png" alt="Media"/>
    <span class="tile-header">Media</span><br/>
    <span class="tile-description">Play Music or Videos</span>
</a><a routerLink="/StyleTest" class="text link-tile">
    <img class="tile-image" src="/Images/StyleTest.png" alt="Styles Test"/>
    <span class="tile-header">Style Test</span><br/>
    <span class="tile-description">Some content for style testing purposes</span>
</a>
